@tailwind base;
@layer base {
    html {
        font: normal 16px/1.9em;
        height: 100%;
    }
    body {
        height: 100%;
        overflow-y: scroll;
        touch-action: manipulation;
        background-color: #fff;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1.25rem;
        margin-top: 0;
    }
    li h1,
    li h2,
    li h3,
    li h4,
    li h5,
    li h6 {
        margin: 0;
    }
    h1 {
        font-size: clamp(2.16rem, 1.47rem + 1.73vw, 4.24rem);
        line-height: 1.25;
    }
    h2 {
        font-size: clamp(1.8rem, 1.4rem + 1vw, 3rem);
        line-height: 1.375;
    }
    h3 {
        font-size: clamp(1.5rem, 1.29rem + 0.52vw, 2.12rem);
        line-height: 1.5;
    }
    h4 {
        font-size: clamp(1.25rem, 1.17rem + 0.21vw, 1.6rem);
        line-height: 1.625;
    }
    h5 {
        font-size: clamp(1.04rem, 1.04rem + 0.02vw, 1.05rem);
        line-height: 1.7;
        font-weight: 600;
    }
    h6 {
        line-height: 1.775;
        font-weight: 600;
    }
    *::placeholder {
        font-size: 14px;
        text-transform: capitalize;
    }
    input,
    .ProseMirror {
        @apply focus:outline-none border border-gray-300 rounded-lg py-2 px-3 block w-full appearance-none leading-normal bg-white;
    }
}
@tailwind components;
@layer components {
    *::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }
    *::-webkit-scrollbar-thumb {
        background: transparent;
    }
    .markdown {
        word-break: break-word;
        overflow-wrap: anywhere;
        @apply leading-7;
    }
    .markdown img,
    .markdown video,
    .markdown figure,
    .markdown img + .caption {
        display: grid;
        gap: 10px;
        text-align: center;
        font-size: 15px;
        font-style: italic;
        color: #c2c2c2;
    }
    .markdown img,
    .markdown video {
        width: 100%;
        max-width: 65ch;
        margin: 0 auto;
        border-radius: 0.25rem;
        user-select: none;
        color: #c2c2c2;
    }
    .markdown-modal {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        background-color: #c2c2c2e6;
    }
    .markdown-modal > img {
        height: 100%;
        object-fit: contain;
    }
    .markdown a {
        cursor: pointer;
        text-decoration: underline;
    }
    .markdown a:hover {
        filter: opacity(0.65);
        transition-duration: 100ms;
        transition-property: filter;
        transition-timing-function: ease;
    }
    .markdown pre {
        position: relative;
        border-radius: 0.25rem;
        overflow: hidden;
    }
    .markdown code {
        padding: 3px;
        font-size: 14px;
        border-radius: 0.25rem;
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        color: #ae3b3b;
        background-color: #ffffff;
    }
    .markdown pre code {
        width: 100%;
        display: block;
        white-space: pre;
        padding: 2.5rem 1rem 1rem;
        overflow-wrap: normal;
        word-break: normal;
        overflow: auto;
        color: #abb2bf;
        background-color: #282c34;
    }
    .markdown blockquote {
        @apply relative pt-10 pb-5 px-6 lg:px-8 rounded bg-[#eeeeee] text-[#212121];
        border-top: 5px solid #c2c2c2;
    }
    .markdown blockquote:before {
        content: '“';
        @apply absolute h-7 top-0 right-[calc(50%_-_20px)] pb-2.5 px-2.5 text-5xl rounded-b-full font-serif text-white bg-[#c2c2c2];
    }
    .markdown table {
        border-spacing: 0;
        display: block;
        overflow-x: auto;
        text-align: left;
        width: 100%;
    }
    .markdown td,
    .markdown th {
        border-bottom: 0.1rem solid #e1e1e1;
        padding: 1rem 1.5rem;
    }
    .markdown td:first-child,
    .markdown th:first-child {
        padding-left: 0;
    }
    .markdown td:last-child,
    .markdown th:last-child {
        padding-right: 0;
    }
    .markdown dl dl,
    .markdown dl ol,
    .markdown dl ul,
    .markdown ol dl,
    .markdown ol ol,
    .markdown ol ul,
    .markdown ul dl,
    .markdown ul ol,
    .markdown ul ul {
        padding: 1rem 0 0 1rem;
    }
    .markdown dl dd {
        padding-left: 1rem;
    }
    .markdown ol {
        list-style: decimal inside;
    }
    .markdown ol ol {
        list-style: upper-alpha inside;
    }
    .markdown ol ol ol {
        list-style: lower-alpha inside;
    }
    .markdown ul {
        list-style: disc inside;
    }
    .markdown ul ul {
        list-style: circle inside;
    }
    .markdown ul ul ul {
        list-style: square inside;
    }
    .markdown * li > p:first-child {
        display: inline;
    }
    .markdown p {
        margin-top: 0;
    }
    .markdown hr {
        border: 0;
        margin: 2rem auto;
        border-top: 1px solid #c2c2c2;
        max-width: 10rem;
    }
    .markdown *:last-child {
        margin: 0 auto;
    }
    .markdown figure img,
    .markdown p:only-child:has(br),
    .markdown p:not(:empty):has(br),
    .markdown p:empty:not(:has(*)):not(:only-child) {
        margin-bottom: 0;
    }
    .markdown dd:not(:last-child),
    .markdown dt:not(:last-child),
    .markdown li:not(:last-child) {
        margin-bottom: 0.25rem;
    }
    .markdown p,
    .markdown input,
    .markdown select,
    .markdown textarea,
    .markdown fieldset,
    .markdown blockquote,
    .markdown dl,
    .markdown figure,
    .markdown form,
    .markdown ol,
    .markdown pre,
    .markdown div,
    .markdown img,
    .markdown table,
    .markdown ul {
        margin-bottom: 1.25rem;
    }
}
@tailwind utilities;
